<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.OntarioGo.somee.com</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>d935294d-6422-43fc-9567-c02813895570</ProjectGuid>
    <publishUrl>ftp://155.254.244.28/www.OntarioGo.somee.com</publishUrl>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <FtpPassiveMode>true</FtpPassiveMode>
    <FtpSitePath>ftp://155.254.244.28/www.OntarioGo.somee.com</FtpSitePath>
    <UserName>abarbare@my.centennialcollege.ca</UserName>
    <_SavePWD>true</_SavePWD>
    <_TargetId>FTP</_TargetId>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>